{% extends "mains/base.html" %}

{% block bodyattr %}
class = "d-flex justify-content-center body-register"



{% endblock %}

{% block content %}



<article class="media content-section shadow bg-white rounded w-50 p-5 " style = "opacity: 0.9; max-width:430px" xmlns:color="http://www.w3.org/1999/xhtml">


	<div class="form-signin " >
			<form method = "POST" action="{% url 'login' %}">
				{% csrf_token %}
				<fieldset class = "form-group">
					<legend class="border-botton text-center"> Welcome back! </legend>
                        <label class="sr-only">Username</label>
                            {{ form.username }}
				        <label  class="sr-only">Password</label>
							{{ form.password }}
                </fieldset>
				<div class="form-group text-center" >
					<button class = "btn btn-primary text-center " style="background-color:#335791" type="submit">Sign In </button>
				</div>
			</form>
			<div class="border_top pt-3">
				<small class = text-muted">
				Don't have an account? <a href="{% url 'register' %}">Sign Up </a> </small>
			</div>
		</div>
</article>

{% endblock content %}